<html>

<head>
    <link rel="stylesheet" href="https://hackdesk.onrender.com/static/css/index.css">
</head>

<body>
    <main>
        <div class="connexion">
            <div>
                <img src="https://hackdesk.onrender.com/static/images/logo-hackdesk.png" alt="Logo HackDesk" />
                <p>Gestion de projet simplifiée</p>
            </div>

            <div class="df">

                <p>Bonjour <b>{{ firstname }} {{ lastname }}</b>,
                    <br><br>
                    Vous venez de réinitialiser votre mot de passe avec succès.
                    <br><br>
                    Si vous n'êtes pas à l'origine de cette demande, merci de bien vouloir en faire part au support en
                    répondant à ce mail, afin que nous puissions vous protéger. Votre sécurité est notre priorité !
                    <br><br>
                    À bientôt,
                    <br /><br />
                    <b>L'équipe HackDesk.</b>
                </p>
            </div>
        </div>
    </main>
</body>

</html>