<html>

<head>
    <link rel="stylesheet" href="https://hackdesk.onrender.com/static/css/index.css">
</head>

<body>
    <main>
        <div class="connexion">
            <div>
                <img src="https://hackdesk.onrender.com/static/images/logo-hackdesk.png" alt="Logo HackDesk" />
                <p>Gestion de projet simplifiée</p>
            </div>

            <div class="df">

                <p>Bonjour <b>{{ firstname }} {{ lastname }}</b>,
                    <br><br>
                    Vous venez de créer un compte sur <b>HackDesk</b>.
                    <br><br>
                    Nous vous souhaitons la bienvenue parmi
                    nos membres et espérons que notre application vous aidera dans la gestion de vos projets.
                    <br><br>
                    En cas de besoin, n'hésitez-pas à contacter le support technique à :
                    <br>
                    <a href="mailto:hackdesk.france@gmail.com">hackdesk.france@gmail.com</a> <br><br>
                    Nous sommes à votre disposition.
                    <br><br>
                    Merci pour votre confiance,
                    <br /><br />
                    <b>L'équipe HackDesk.</b>
                </p>
            </div>
        </div>
    </main>
</body>

</html>