{% extends 'layout.html' %}

<!-- BODY -->
{% block body %}
<div class="app dg">
  <!-- Main -->
  <main class="app-view dg">
    <!-- Menu -->
    {% include 'dashboard/partials/menu-app.html' %}
    <div class="app-container">
      <div class="df" style="justify-content: space-between">
        <h1>Ajouter un projet</h1>
        <a href="/projects">
          <button class="button2">
            <i class="bi bi-arrow-left"></i> Retour
          </button>
        </a>
      </div>

      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <div id="flash-messages" class="container">
        {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %} {% endwith %}

      <form action="/add-a-project" class="table-list" method="post">
        <input required type="text" placeholder="Nom du projet" name="name_project" autofocus autocomplete="off" />

        <textarea placeholder="Description" name="description"></textarea>

        <input type="text" placeholder="URL" name="url" autocomplete="off" />

        <input type="text" placeholder="Serveur d'hébergement" name="hosting_server" autocomplete="off" />

        <select required name="client">
          {% if clients %}
          <option value="0" selected disabled>Client</option>
          {% for client in clients %}
          <option value="{{ client.id }}">{{ client.firstname }} {{ client.lastname }}</option>
          {% endfor %}
          {% else %}
          <option value="0" selected disabled>Aucun client trouvé</option>
          {% endif %}
        </select>

        <select required name="status">
          <option value="Statut" selected disabled>Statut</option>
          <option value="En cours">En cours</option>
          <option value="En attente">En attente</option>
          <option value="Terminé">Terminé</option>
        </select>

        <input type="number" step="0.01" placeholder="Tarif horaire" name="hourly_rate" autocomplete="off" />

        <button type="submit" class="button2">Ajouter un projet</button>
      </form>
    </div>
  </main>
</div>
{% endblock %}